<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" routerLink="/orders" routerLinkActive="active">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/clients" routerLinkActive="active">Clients</a>
  </li>
  <li class="nav-item">
    <!-- <button (click)="increment()">Increment</button> -->
    <app-btn-action (submited)="increment()" label="Increment"></app-btn-action>
  </li>
  <li class="nav-item">
    <select (change)="changeLang($event)">
      <option *ngFor="let lang of langs" [value]="lang" [selected]="lang === defaultLangue">{{ lang }}</option>
    </select>
  </li>
</ul>
{{check()}}
